body{
    background-color:#ededed;
}

.card img{
    height:180px;
    width:100%;
    object-fit:cover;
    border-radius:5px;
}

.card{
    height:300px;
}

#countryrow .card .card-body {
    display: flex;
    justify-content: end;
    flex-direction: column;
}